.Stats {
  display: flex;
  background-color: #4369b2;
}

.Stats {
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  align-items: flex-start;
  padding: 2px 10px;
  letter-spacing: 0.5px;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
